body {
width: 450px;
margin:0 auto;
text-align: center;
}
/* HEADER */
header {
    background-color: black;
    width: 100%;
    height: 80px;
}
header img {
    text-align: center;
     width:auto;
     width: auto;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
/* FINE HEADER */
/* INIZIO PRIMO DIV */
#firstdiv{
   background-image: url(../images/banner.jpg);
   width: 450px;
   height: 400px;
   background-size: cover;
   background-position: center;
}
#firstdiv h1 {
    font-size: xxx-large;
    font-weight: bold;
    color:#25a2c3;
    padding-top:10%;
    padding-bottom: 10%;
    padding-left: 20px;
    padding-right:20px;
}
#firstdiv p{
    color: black;
    font-size: 1.2em;
    padding-right: 70px;
    padding-left: 70px;
    padding-bottom:25px;
    line-height: 1.6;
}
#firstdiv button{
    color: white;
    background-color: orangered;
    width: 170px;
    height: 40px;
    border-radius: 5%;
    border: none;
}
/* FINE PRIMO DIV */
/* INIZIO SECONDO DIV */
#seconddiv {
    background-color: white;
    font-size: 1.2em;
    line-height: 1.6;
}
#seconddiv h3 {
   font-size: x-large;
   font-weight: bold;
   color: #25a2c3;
   margin-top: 40px;
   margin-bottom: 10px;
}
#seconddiv p{
    color: black;
    font-size: 1.2em;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom:50px;
}
#seconddiv img {
    display: inline-block;
    border-radius: 50%;
    width: 350px;
    height: 350px;
}
/* FINE SECONDO DIV */
/* INIZIO TERZO DIV (SEZIONE BACKGROUND ARANCIONE */
#thirddiv{
    background-color: orangered;
    width: 450px;
    height: 380px;
    font-size: 1.2em;
    color: white;
    line-height: 1.6;
}
#thirddiv h2{
font-size: xxx-large;
padding-top:15%;
padding-bottom:25px;
font-weight: bold;
}
#thirddiv p:first-of-type{
margin-top: 30px;
margin-bottom: 30px;
padding-left: 50px;
padding-right: 50px;
}
#thirddiv p:nth-of-type(2){
    font-size: larger;
}
#thirddiv p:nth-of-type(3){
    font-size: larger;
}
#thirddiv p:last-of-type{
    font-size: small;
}
/* FINE TERZO DIV */
/* INIZIO QUARTO DIV */
#fourthdiv{
    background-color: white;
    font-size: 1.2em;
    line-height: 1.6;
}
#fourthdiv img{
    display: inline-block;
    width: 400px;
    height: auto;
    padding-top: 30px;
    padding-bottom:0%;
    margin-bottom: 0%;
}
#fourthdiv h3{
    font-size: x-large;
   font-weight: bold;
   color: #25a2c3;
}
#fourthdiv p{
    color: black;
    font-size: 1.2em;
    padding-right: 50px;
    padding-left: 50px;
}
/* FINE QUARTO DIV */
/* INIZIO QUINTO DIV */
#fifthdiv{
    background-color: white;
    font-size: 1.2em;
    line-height: 1.6;
}
#fifthdiv img{
    display: inline-block;
    width: 400px;
    height: auto;
    padding-top: 30px;
    padding-bottom:0%;
    margin-bottom: 0%;
}
#fifthdiv h3{
    font-size: x-large;
   font-weight: bold;
   color: #25a2c3;
}
#fifthdiv p{
    color: black;
    font-size: 1.2em;
    padding-right: 50px;
    padding-left: 50px;
}
/* FINE QUINTO DIV */
/* INIZIO SESTO DIV */
#sixthdiv{
    background-color: white;
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom:100px;
}
#sixthdiv img{
    display: inline-block;
    width: 400px;
    height: auto;
    padding-top: 30px;
    padding-bottom:0%;
    margin-bottom: 0%;
}
#sixthdiv h3{
    font-size: x-large;
   font-weight: bold;
   color: #25a2c3;
}
#sixthdiv p{
    color: black;
    font-size: 1.2em;
    padding-right: 50px;
    padding-left: 50px;
}
/* FINE SESTO DIV */
/* INIZIO FOOTER */
#footer{
      background-color:#25a2c3;
    font-size: 1.2em;
    line-height: 1.6;
    color:white;
}
#footer h2{
    color: white;
    font-size: xxx-large;
    padding-top:10px;
    padding-bottom:10px;
    font-weight: bold;
}
#footer ul{
list-style-type: none;
margin-bottom:25px;
}
#footer a{
    color: white;
}
#footer hr{
    width: 200px;
    margin: 15px 112,5;
}
#footer p{
    padding-bottom: 40px;
    margin-top:25px;
}